@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body,
#__next {
  @apply w-full h-full;
}

.root_layout {
  @apply w-full h-full;
}

/* header */
header {
  @apply fixed top-0 left-0 right-0 z-[100] flex_center w-full h-[50px] bg-blue-200;
  a {
    @apply text-[22px] font-bold;
  }
}

/* home */
.home_container {
  @apply flex_center flex-col w-full h-full;

  .link_area {
    @apply mt-[20px];

    a {
      @apply block p-3 rounded-md text-white bg-lime-600;
    }
  }
}

/* fullpageScroll */
.fullPageList_area {
  @apply flex_center w-full h-full pt-[50px];

  .link_area {
    a {
      @apply block p-3 rounded-md text-white bg-lime-600;
    }
  }
}

.outer {
  @apply relative w-full h-screen overflow-hidden;

  .inner {
    @apply relative flex_center w-full h-screen py-[5.64vmin];
  }
}

.showCode {
  @apply absolute w-28 h-20 z-30 text-white bg-blue-500 cursor-pointer flex_center top-20 left-10;
}
.gotoTop {
  @apply absolute w-20 h-20 z-30 text-white bg-blue-500 rounded-full cursor-pointer flex_center bottom-10 right-10;
}

.dot_area {
  @apply flex_vertical_center flex-col gap-2 absolute_yHalf left-10 z-30;

  .dot {
    @apply flex_center text-white w-8 h-8 cursor-pointer rounded-full bg-slate-500;
  }
}

.fadeOuter {
  @apply relative w-full h-screen overflow-hidden;

  .inner {
    @apply absolute top-0 left-0 flex_center w-full h-screen py-[5.64vmin];
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }

  .inner.active {
    opacity: 1;
    z-index: 1; /* 현재 페이지는 가장 위에 오도록 설정 */
  }

  .inner.exiting {
    opacity: 0;
    z-index: 0; /* 페이드 아웃될 때 뒤로 사라지도록 설정 */
  }
}

/* ViewCode */
.viewCode_container {
  @apply fixed top-[0] z-50 h-screen overflow-y-auto pl-8 pt-[82px] pr-8 pb-12 bg-white;

  /* scrollbar */
  &::-webkit-scrollbar {
    width: 0.88vmin;
  }

  &::-webkit-scrollbar-thumb {
    background: #509bf8;
  }

  &::-webkit-scrollbar-track {
    background: #ededed;
  }

  .title {
    @apply pb-4 text-2xl font-bold border-b border-gray-800;
  }
}
