@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body,
#__next {
  @apply w-full h-full;
}

.root_layout {
  @apply w-full h-full;
}

/* header */
header {
  @apply fixed top-0 left-0 right-0 z-[100] flex_center w-full h-[50px] bg-white border-b-2 border-black;

  button.back {
    @apply block pr-2 absolute_yHalf left-6 text-[22px] text-gray-500;
  }
  a {
    @apply text-[22px] font-bold;
  }
}

/* home */
.home_container {
  @apply flex_center flex-col w-full h-full;

  .link_area {
    @apply flex_vertical_center gap-2 mt-[20px];

    a {
      @apply block min-w-36 p-3 text-center rounded-md text-white bg-lime-600;

      &:hover {
        @apply bg-lime-800;
      }
    }
  }
}

/* 코드 모달 */
.tag_area {
  @apply flex flex-col gap-3 absolute w-24 top-20 z-30 left-[0];
  .showCode {
    @apply w-full h-12 px-3 text-white cursor-pointer flex_xBetween gap-3 translate-x-[-56px] transition-all duration-75;

    &:hover {
      @apply translate-x-0;
    }

    &.react_tag {
      @apply bg-[#61DAFB];
    }

    &.css_tag {
      @apply bg-[#1572B6];
    }

    span {
      @apply font-semibold;
    }
  }
}

/* ViewCode */
/*  h-screen overflow-y-auto */
.viewCode_container {
  @apply fixed top-[0] z-50 h-screen pt-[82px] bg-[#F6F4EF];

  > div {
    @apply h-full;
  }

  .title_area {
    @apply flex_xBetween mx-8 pb-4 border-b border-gray-800;
    .title {
      @apply text-2xl font-bold;
    }

    > div {
      @apply flex_center w-6 h-6 cursor-pointer;
    }
  }

  .codeTxt_area {
    @apply h-[calc(100%-50px)];
    .copy_area {
      @apply flex items-center justify-end px-8 mt-[10px];

      .copyClipboard {
        @apply flex items-center justify-end gap-2 cursor-pointer w-[100px];

        p {
          @apply text-sm;
        }
      }
    }

    .code-style {
      @apply w-full h-[calc(100%-30px)] px-8 pb-12 overflow-y-auto;

      /* scrollbar */
      &::-webkit-scrollbar {
        width: 0.88vmin;
      }

      &::-webkit-scrollbar-thumb {
        background: #000;
      }

      &::-webkit-scrollbar-track {
        background: #ededed;
      }
    }
  }
}
