@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body,
#__next {
  @apply w-full h-full;
}

.root_layout {
  @apply w-full h-full;
}

/* header */
header {
  @apply fixed top-0 left-0 right-0 z-10 flex_center w-full h-[50px] bg-blue-200;
  a {
    @apply text-[22px] font-bold;
  }
}

/* home */
.home_container {
  @apply flex_center flex-col w-full h-full;

  .link_area {
    @apply mt-[20px];

    a {
      @apply block p-3 rounded-md text-white bg-lime-600;
    }
  }
}

/* fullpageScroll */
.fullPageList_area {
  @apply flex_center w-full h-full pt-[50px];

  .link_area {
    a {
      @apply block p-3 rounded-md text-white bg-lime-600;
    }
  }
}

.outer {
  @apply relative w-full h-screen overflow-hidden;

  .inner {
    @apply relative flex_center w-full h-screen py-[5.64vmin];
  }
}
.gotoTop {
  @apply absolute w-20 h-20 text-white bg-blue-500 rounded-full cursor-pointer flex_center bottom-10 right-10;
}

.dot_area {
  @apply flex_vertical_center flex-col gap-2 absolute_yHalf left-10;

  .dot {
    @apply flex_center text-white w-8 h-8 cursor-pointer rounded-full bg-slate-500;
  }
}
